body{
background-color: black;
}

div.poster{
    background-color: rgba(255, 255, 255, 0.952);
    width: 75%;
}

div.small {
    font-size: 20px;
    text-align: center;
    padding-bottom: 18px;
    border-top: 1px solid black;
}

div.text{
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    border-top: 1px solid black;
}

div.text.one{ 
    font-size: 100px;
}
div.text.two { 
    font-size: 60px;
}
div.text.three { 
    font-size: 30px;
}