body{
background-color: black;
}

div.poster{
    background-color: rgba(255, 255, 255, 0.952);
    width: 75%;
}

div.small {
    font-size: 20px;
    text-align: center;
    padding-bottom: 18px;
    border-top: 1px solid black;
}



div.text{
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    border-top: 1px solid black;
}

/* rule 1 */

div.text.one{ 
    font-size: 100px;
    background-color: #b5d1cc
}
div.text.two { 
    font-size: 60px;
    background-color: #b5d1ccc2
}
div.text.three { 
    font-size: 30px;
    background-color: #b5d1cc
}

/* rule 2 */
div.text.a {
    color:#a90636;
}

div.text.b { 
    color:#4f8fe6;
}

div.text.c {
    color: #9c52f2;
}

/* rule 3 */
div.text.one {
    text-align: left;
}

div.text.two { 
    text-align: center;
}

div.text.three { 
    text-align: left;
}




